<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log in to get going</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-input 
      label="Username" 
      labelPlacement="floating" 
      errorText="Username is required"
      formControlName="username"
    ></ion-input>
    <ion-input 
      label="Password" 
      labelPlacement="floating" 
      errorText="Password is required"
      formControlName="password"
      type="password" 
    ></ion-input>
  </form>

  <ion-button margin-right color="secondary" (click)="signUp()" [disabled]="form.invalid">
    SIGN UP
  </ion-button>

  <ion-button (click)="logIn()">
    LOG IN
  </ion-button>

</ion-content>
