<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 50%; margin: auto; text-align: center;">
    <form [formGroup]="form" style="text-align: left;">
      <ion-input 
        label="Username" 
        labelPlacement="floating" 
        errorText="Username is required"
        formControlName="username"
      ></ion-input>
      <ion-input 
        label="Password" 
        labelPlacement="floating" 
        errorText="Password is required"
        formControlName="password"
        type="password" 
      ></ion-input>
    </form>
    
    <ion-button margin-right color="secondary" (click)="signUp()" [disabled]="form.invalid" style="padding: 0.5%">
      SIGN UP
    </ion-button>

    <ion-button (click)="logIn()" [disabled]="form.invalid" style="padding: 0.5%">
      LOG IN
    </ion-button>
  </div>

</ion-content>
